<h1 text-align="center">AMC Theaters</h1>
<table style="width: 100%;">
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>ShowTimes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of movies">
            <td>{{m.title}}</td>
            <td>{{m.showtimes}}</td>
            <td>{{m.description}}</td>
            <button (click)='Showtimes(m.id)'><td>ShowTimes</td></button>
        </tr>
    </tbody>
</table>
<h3>Title</h3>
<input [(ngModel)]="newMovie.title" name="title"/>
<h3>Showtimes</h3>
<input [(ngModel)]="newMovie.showtimes" name="showtimes"/>
<h3>Description</h3>
<input [(ngModel)]="newMovie.description" name="description"/>
<button (click)="save()">Save</button>