<div [hidden]="!ticket">
  <h3>{{movie.title}}</h3>
  <select [(ngModel)]="ticketTime">
    <option *ngFor="let s of showtime" [value]="s">{{s}}</option>
  </select>
  <select [(ngModel)]="ticketType">
    <option>Adult</option>
    <option>Senior</option>
    <option>Child</option>
  </select>
  <button (click)="Reciept()">Checkout</button>
</div>
<div [hidden]="ticket">
  <h3>{{movie.title}}</h3>
  <h2>{{ticketType}}</h2>
  <h2>{{ticketTime}}</h2>
  <button routerLink='/movies'>Movie Page</button>
</div>
